<!DOCTYPE html>
<head>
	<title>nixTyper</title>
	<style>
		body {
			background-color: antiquewhite;
			font-family: sans-serif;
			margin: auto;
			width: 70%;
		}
		#show {
			float: right;
			padding-bottom: .5em;
		}
		#codeBlock {
			clear: right;
		}
		#WPM {
			float: left;
		}
		#time {
			float: right;
		}
		#desc {
			margin-top: 30px;
			display: none;
		}
		#textbox {
			width: 35em;
			background-color: blanchedalmond;
		}
		.form-group {
			margin-top: 3em;
			margin-bottom: 2em;
		}
	</style>
</head>
<body>
<div>
	<br>
	<h1><i>nixTyper</i></h1>
	<a id="show" onclick="showmore()" href="#">Learn more about these commands</a>
	<div id="codeBlock" style="outline: 3px solid black; padding: 10px; font-family: monospace; font-size: 1.5em;" onclick="startGame()"></div>
	<h2 id = 'WPM'></h2>
	<h2 id = 'time'></h2>
	<div style="clear: both;"></div>
	<div id="display"></div>
	<div class="form-group">
    		<label for="textbox">Enter Commands Here:</label>
		<!-- every time someone enters a character, runs through javascript function that checkes if it's the correct character. if so, keep moving and allow further keypresses. if not, make red and prevent further keypresses. -->
    		<textarea type ="text" class="form-control" id="textbox" rows="5" onclick="interval()" ></textarea>
  	</div>
	<div id="desc" style="color: royalblue;"></div>

	<script>
		var $ = function(id) {
			return document.getElementById(id);
		};

		codeText = {{ bloc | safe  }};
		description = {{ desc | safe }};
		codeText = codeText.join("<br/>");
		$("codeBlock").innerHTML = codeText;
		description = description.join("<br/>");
		$("desc").innerHTML = description;

		function showmore () {
			var hide = $("desc");

			if (hide.style.display === "none") {
				hide.style.display = "inline";
			}
			else {
				hide.style.display = "none";
			}
		}

		var prompt = codeText.replace(/<br\s*\/?>/gi, '');
		prompt = prompt.replace(/\n/g, ' ');

		prompt = prompt.split("");
		var len = prompt.length;

		function interval () {
			timer = setInterval(startGame, 1000);
		}

		var seconds = 0;

		function startGame() {
			seconds++;
			$("time").innerHTML = "Time: " + seconds;
			if (seconds > 180) {
				endGame();
			}
			calcWPM();
		}

		function endGame() {
			$("textbox").disabled="true";
			clearInterval(timer);
		}

		function calcWPM () {
			$("WPM").innerHTML = "WPM: " + parseInt((correctCounter / 5) / (seconds / 60));
		}

		var correctCounter = 0;
		var correct = 1;
		var match = 0;
		var lastSize = 0;

		$("textbox").addEventListener('keyup', function (event) {
			// Start game on click of input box
			// Whenever a char is entered check to see if it matches prompt
			// If it does, the user can continue entering characters that count towards progress
			// If not, the user can still enter characters, but they don't count towards progress

			var key = event.key;
			$("display").innerHTML = $("textbox").value;
			var size = $("textbox").value.length;

			if (key === "Shift" || key === "CapsLock") {
				event.preventDefault();
				return;
			}

			if (correct === 0) {
				if (key === "BackSpace") {
					return;
				}

				else if (key === match && size === lastSize) {
					correctCounter++;
					$("display").style.color = 'black';
					correct = 1;
				}
				return;
			}

			match = prompt[correctCounter];

			if (correctCounter === len - 1) {
				endGame();
			}

			else if (key === match) {
				correctCounter++;
				$("display").style.color = 'black';
				correct = 1;
			}

			else if (key === "Backspace") {
				correctCounter--;
			}

			else if (key !== match) {
				$("display").style.color = 'red';
				lastSize = size;
				correct = 0;
			}

			if (correctCounter < 0) {
				correctCounter = 0;
			}

			event.preventDefault();
		})
	</script>
</div>
</body>
